
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480578473402'); /* IE9*/
  src: url('iconfont.eot?t=1480578473402#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480578473402') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480578473402') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480578473402#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before { content: "\e601"; }

.icon-xiaoxi:before { content: "\e649"; }

.icon-shouye:before { content: "\e61d"; }

.icon-wode:before { content: "\e612"; }

.icon-add:before { content: "\e635"; }

.icon-rightarrow:before { content: "\e63e"; }

.icon-add1:before { content: "\e651"; }

.icon-jubao:before { content: "\e652"; }

.icon-camera:before { content: "\e675"; }

.icon-radiod:before { content: "\e670"; }

.icon-radio:before { content: "\e671"; }

.icon-zhuanfa:before { content: "\e609"; }

.icon-bidlose:before { content: "\e69b"; }

.icon-qiqiu:before { content: "\e62a"; }

.icon-huodong:before { content: "\e629"; }

.icon-down:before { content: "\e6d8"; }

.icon-ok:before { content: "\e6da"; }

.icon-zhengque:before { content: "\e6e0"; }

.icon-close:before { content: "\e6e6"; }

.icon-hold:before { content: "\e6e7"; }

.icon-logo:before { content: "\e6e8"; }

.icon-message:before { content: "\e6ea"; }

